<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/index.png"/></a>
</nav>
<div class="container clearfix">
  <div class="row">
    <div class="col-8">
      <div class="jumbotron">
        <h1 class="display-4">欢迎使用{{projectName}}后台</h1>
        <p class="lead">请在父母陪同下登录本站，否则后果自负！</p>
        <hr class="my-4"/>

        <p class="lead text-info">如觉害怕，请：</p>
        <a class="btn btn-info btn-lg" href="https://t1bao.com" role="button">返回主网</a>
      </div>
    </div>
    <div class="col">
      <h1 class="text-center text-secondary">管理员登录</h1>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <label for="acount">管理员帐号：</label>
          <input type="text" class="form-control" id="account" aria-describedby="account">
        </div>
        <div class="form-group">
          <label for="password">密码：</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="remember">
          <label class="form-check-label" for="remember">记住登录</label>
        </div>
        <div class="form-group form-check text-center">
          <button type="submit" class="btn btn-primary text-center">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="navbar-text">让问题易解决，让知识有价值，让帮助有回报！ <sub>— 田一块网络</sub>
      </p>
    </div>
    <div class="col-3">
      <div class="navbar-text text-center">
          Powered By <a href="https://github.com/calidion/vigor">vigor</a>
      </div>
    </div>
    <div class="col-3">
      <div class="navbar-text text-center">
          Based on <a href="https://github.com/calidion/vig">vig</a>
      </div>
    </div>
  </div>
</div>